@model IEnumerable<WebAppHotelManagement.Models.UserAccount>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@{
    ViewBag.Title = "UserStaff";
}

<h2 style="margin-top: 30px">User Staff</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>

<p>
    @Html.ActionLink("Login", "Login")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { idUser = item.UserId})
            </td>

        </tr>
    }

</table>

